button:hover,
button:focus {
    background-color: azure;
    color: black;
    border: 1px solid rgb(136, 186, 186);
}

.content {
    width: 500px;
    height: 300px;
}

#button-container {
    width: 350px;
}

#button-container>button {
    height: 40px;
    width: 160px;
}

@media only screen and (max-width: 480px) {
    .content {
        width: 300px;
        height: 400px;
    }

    #button-container {
        width: 300px;
    }

    #button-container>button {
        width: 120px;
    }

    .content>h1 {
        text-align: center;
    }
}