.project-card {
    border: 1px solid #635454;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 5px 5px rgb(242, 249, 231);
}

.project-card:hover {
    border: 1px solid rgb(172 197 133);
}